<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Eva Rosalina Ananda**
My desired job right now is to be talented data scientist.

*My favorite quotes all the time is without data, you're just a person with opinion, hence, being a data scientist will make me be more facts driven person. Also, talented data scientists make good amount of money so I really want to be one of them*

### This code is about creating a simple dataframe

In [5]:
import pandas as pd
student_data = {'Name': ['Angelina', 'Brad', 'Tom', 'Jack'], 'Age': [18, 17, 15, 20]}
df = pd.DataFrame(student_data)
print(df)

       Name  Age
0  Angelina   18
1      Brad   17
2       Tom   15
3      Jack   20

~~ This is how we say numbers in Indonesia ~~
* Satu
* Dua
* Tiga


(https://www.google.com "Google's Homepage")